@import '../../../assets/colors';
@import '../../../assets/mixins';

/* Input Type */

.field:not(.field--toggle) {
  @include align-items;
  @include default-transition;
  @include inline-flex;
  @include justify-content(flex-start);
  margin: 0.25em 1.5em 0.25em 0;
  width: fit-content;
}

.field:not(.field--checkbox):not(.field--radio):not(.field--toggle) {
  @include align-items(flex-start);
  @include flex-direction;
  @include justify-content;
  margin: 0.25em 0;

  .field__input {
    margin: 0.5em 0;
  }
}

.field__label {
  text-transform: capitalize;
}

.field__input {
  margin-right: 0.25em;
}

/* Select Type */

.field--select {
  min-width: 10em;
  position: relative;
}

.field__label--select {
  color: $field-label;
  font-size: 0.75em;
}

// Credit: https://codepen.io/pudgereyem/pen/PqBxQx

.field--select:after {
  @include pointer-events(none);
  @include square(0);
  border-color: $field-border transparent transparent transparent;
  border-style: solid;
  border-width: 0.25em;
  bottom: 1em;
  content: '';
  padding: 0;
  position: absolute;
  right: 0.5em;
}

.field__input--select {
  @include appearance(none);
  background-color: transparent;
  border-color: $field-border;
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 1px 0;
  color: $field-content;
  cursor: pointer;
  padding: 0.25em 0;
  width: 100%;
}

/* Checkbox Type */

// Credit: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp

.field--checkbox {
  @include no-select;
  cursor: pointer;
  padding-left: 1.75em;
  position: relative;
}

.field__input--checkbox {
  @include hidden;
  cursor: pointer;
  position: absolute;
}

.field__input-check {
  @include square(1.1em);
  background-color: $field-input-unselected;
  border-radius: 0.1em;
  border: 1px solid $field-border;
  left: 0.15em;
  position: absolute;
  top: 0.15em;
}

.field__input-check:focus {
  outline: auto 5px -webkit-focus-ring-color;
}

.no-touch .field:hover .field__input-check {
  background-color: $field-input-hover;
}

.field--checkbox input:checked ~ .field__input-check {
  background-color: $field-input-selected;
}

.field__input-check:after {
  content: '';
  display: none;
  position: absolute;
}

.field--checkbox input:checked ~ .field__input-check:after {
  display: block;
}

.field--checkbox .field__input-check:after {
  @include transform(rotate(45deg));
  border-color: $field-input-mark;
  border-style: solid;
  border-width: 0 2px 2px 0;
  height: 0.6em;
  left: 0.3em;
  top: 0;
  width: 0.3em;
}

/* Toggle Switch Type */

.field--toggle {
  @include align-items;
  @include justify-content(flex-start);
  @include no-select;
  @include use-flex;
  cursor: pointer;
  position: relative;
  width: fit-content;
}

.field__label--toggle {
  display: block;
  color: $field-content;
  margin-right: 0.5em;
  padding-bottom: 0.125em;
}

.field__container {
  display: block;
  height: 1em;
  position: relative;
  width: 2em;
}

.field__input--toggle {
  @include hidden;
  cursor: pointer;
  position: absolute;
}

.field__input-switch {
  @include default-transition;
  @include flush-top;
  background-color: $field-toggle-background;
  border-radius: 1em;
  bottom: 0;
  cursor: pointer;
  position: absolute;
}

.field__input-switch:before {
  @include default-transition;
  @include square(0.75em);
  background-color: $field-toggle-switch;
  border-radius: 50%;
  content: '';
  left: 0.15em;
  position: absolute;
  top: 0.125em;
}

.no-touch .field__input-switch:hover {
  background-color: $field-toggle-hover;
}

.field--toggle input:checked + .field__input-switch {
  background-color: $field-toggle-highlight;
}

.field--toggle input:focus + .field__input-switch {
  @include box-shadow(0 0 1px $field-toggle-highlight);
}

.field--toggle input:checked + .field__input-switch:before {
  @include transform(translateX(1em));
}

/* Radio Type */

.field--radio {
  @include centralize-content('.field__input-dot:after');
  @include no-select;
  cursor: pointer;
  padding-left: 1.75em;
  position: relative;
}

.field__input--radio {
  @include hidden;
  cursor: pointer;
  position: absolute;
}

.field__input-dot {
  @include square(1.1em);
  background-color: $field-input-unselected;
  border-radius: 50%;
  border: 0.1em solid $field-border;
  left: 0.15em;
  position: absolute;
  top: 0.15em;
}

.no-touch .field:hover .field__input-dot {
  background-color: $field-input-hover;
}

.field--radio input:checked ~ .field__input-dot {
  border: 0.1em solid $field-input-selected;
}

.field__input-dot:after {
  content: '';
  display: none;
  position: absolute;
}

.field--radio input:checked ~ .field__input-dot:after {
  display: block;
}

.field--radio .field__input-dot:after {
  @include square(0.6em);
  background-color: $field-input-selected;
  border-radius: 50%;
}

/* Textarea Type */
.field__input--textarea {
  @include appearance(none);
  background-color: transparent;
  border-color: $field-border;
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 1px 0;
  color: $field-content;
}

.field__input--textarea::placeholder {
  color: $field-hint;
}

// Mobile Landscape
@media only screen and (max-width: 767px) and (orientation: landscape) {
  .field--select:after {
    bottom: 33%;
  }
}
