@import '../../../assets/colors';

.form {
  fieldset {
    border: 1px solid $form-border;
    margin-bottom: 1em;
  }

  legend {
    color: $form-label;
    font-size: 0.75em;
    text-transform: capitalize;
  }
}
