@import '../../../assets/colors';

.terms__under-construction {
  color: $privacy-terms-content;
  overflow-wrap: anywhere;

  .construction__header {
    margin: 1em 0;
  }
}

.terms .construction__content {
  max-width: 60em;
  padding: 1em;
  width: 100%;
  text-align: justify;
}

.terms__title {
  font-weight: 500;
}

.terms__text {
  line-height: 1.6;
  margin: 1em;
}

.terms__text-link {
  background-color: $privacy-terms-link-background;
  border-radius: 0.5em;
  color: $privacy-terms-link-text;
  display: inline-block;
  font-size: 0.85em;
  line-height: 1.3;
  margin: 0 0.25em;
  padding: 0.1em 0.5em;
  text-decoration: none;
  word-break: break-all;
}

.no-touch .terms__text-link:hover {
  background-color: $privacy-terms-link-background-hover;
  color: $privacy-terms-link-text-hover;
}

.terms__text-link:active {
  background-color: $privacy-terms-link-background-active;
  color: $privacy-terms-link-text-hover;
}

.terms__list {
  margin: 1em 0;
}

.terms__list-item {
  margin: 1em 0;
}

// Mobile Portrait
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .terms .construction__content {
    font-size: 0.85em;
    padding: 0.5em;
    text-align: left;
  }
}
