@import '../../../assets/colors';
@import '../../../assets/mixins';

.app-bar {
  @include align-items;
  @include elevation(2);
  @include flush-top;
  @include sticky;
  @include use-flex;
  background-color: $app-bar-background;
  width: 100%;
}

.app-bar--normal {
  height: 4em;
}

.app-bar__options {
  @include align-items;
  @include justify-content(flex-end);
  @include use-flex;
  height: inherit;
  min-width: fit-content;
  white-space: nowrap;
}

.app-bar__button {
  @include align-items;
  @include centralize-content('.app-bar__button-glyph');
  @include default-transition;
  @include flex-shrink(1);
  @include setup-button;
  height: 100%;
  line-height: 0;
  min-width: 2.5em;
  overflow: hidden;
  text-align: center;
  width: 3em;
}

.no-touch .app-bar__button:hover {
  background-color: $app-bar-button-hover;
}

.app-bar__button--option {
  @include flex-shrink(2);
  display: inline-block;
}

.app-bar__button-glyph {
  @include square(1.5em);
  fill: $app-bar-content;
}

.app-bar__title-set {
  @include ellipsize-content('span');
  @include flex-grow;
  color: $app-bar-content;
  display: inline-block;
  padding: 0 1em 0;
}

.title-set__title {
  display: block;
  font-size: 1.25em;
  font-weight: 500;
}

.title-set__subtitle {
  display: block;
  font-weight: 400;
}

// Desktop
@media only screen and (min-width: 1440px) {
  .app-bar {
    @include flat;
    border-bottom: 1px solid $app-bar-border;
  }
}

// Desktop / Tablet
@media only screen and (min-width: 768px) {
  .app-bar {
    margin: -1em -1em 1em;
    width: calc(100% + 2em);
  }
  .app-bar__button {
    padding: 1.85em;
  }
}

// Mobile
@media only screen and (max-width: 767px) {
  .app-bar__button {
    padding: 1.5em;
  }
}

// Mobile Portrait
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .app-bar__button {
    padding: 1.5em 1em;
  }
}
