@import '../../../assets/mixins';

$app-bar-background-hover: rgba(black, 0.1);
$app-bar-background: white;
$app-bar-content: #202124;

.app-bar {
  @include elevation(2);
  align-items: center;
  background-color: $app-bar-background;
  display: flex;
  left: 0;
  padding: 1em 0 1em;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.app-bar--normal {
  height: 4em;
}

.app-bar--expanded {
  height: 8em;
}

.app-bar__options {
  height: inherit;
  overflow: hidden;
  white-space: nowrap;
}

.app-bar__button {
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  height: inherit;
  line-height: 0;
  text-align: center;
}

.app-bar__button:hover {
  background-color: $app-bar-background-hover;
}

.app-bar__button--option {
  display: inline-block;
}

.app-bar__button-glyph {
  fill: $app-bar-content;
  min-height: 1.75em;
  min-width: 1.75em;
}

.app-bar__title-set {
  @include ellipsize-content('span');
  color: $app-bar-content;
  display: inline-block;
  flex-grow: 1;
  padding: 0 1.5em 0 1em;
}

.title-set__title {
  display: block;
  font-size: 1.25em;
  font-weight: 500;
}

.title-set__subtitle {
  display: block;
  font-size: 1em;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .app-bar__button {
    padding: 1.85em;
  }
  .app-bar__options {
    min-width: 7.6em;
  }
}

@media only screen and (max-width: 767px) {
  .app-bar__button {
    padding: 1.5em 1.5em;
  }
  .app-bar__options {
    min-width: 7em;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .app-bar__button {
    padding: 1.5em 1em;
  }
  .app-bar__options {
    min-width: 6em;
  }
}
