@import '../../../assets/_colors';
@import '../../../assets/mixins';

.side-menu {
  @include elevation(3);
  @include overscroll;
  background-color: $side-bar-background;
  border-right: 1px solid $side-bar-border;
  height: 100vh;
  max-width: 280px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 2.5em;
}

.side-menu__header {
  @include elevation(1);
  @include flat;
  @include flush-top;
  @include sticky;
  background-color: $side-bar-background;
  height: 4em;
  margin-right: auto;
}

.side-menu__header > a {
  @include align-items;
  @include use-flex;
  border-bottom: 1px solid $side-bar-border;
  height: inherit;
  padding-left: 1.5em;
  text-decoration: none;
  width: inherit;
}

.header__glyph {
  @include square(2.5em);
  display: inline-block;
  fill: $side-bar-content;
  margin-right: 1em;
}

.header__title {
  color: $side-bar-label;
  display: inline-block;
  margin-right: 1em;
}

.side-menu__section {
  margin: 0.75em auto 0.75em 0;
  padding: 0.5em 1.5em;
  position: relative;
}

.side-menu__section:not(:first-child)::before {
  border-top: 1px solid $side-bar-border;
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 4.8em);
}

.side-menu__section-label {
  color: $side-bar-label;
  display: block;
  font-size: 0.8em;
  margin: 1.25em 0;
}

.side-menu__item {
  @include align-items;
  @include default-transition;
  @include ellipsize-content('span');
  @include setup-button;
  @include use-flex;
  border-radius: 0.25em;
  color: $side-bar-content;
  fill: $side-bar-content;
  height: 3em;
  text-align: center;
  width: 100%;
}

.no-touch .side-menu__item:hover {
  background-color: $side-bar-button-hover;
  color: $side-bar-content-hover;
  fill: $side-bar-content-hover;
}

.item__glyph {
  @include square(1.5em);
  fill: inherit;
  margin-right: 1em;
}

.item__label {
  font-weight: 500;
}

// Desktop / Tablet
@media only screen and (min-width: 768px) {
  .side-menu {
    width: 280px;
  }
}

// Mobile
@media only screen and (max-width: 767px) {
  .side-menu {
    width: 40vw;
  }
}

// Mobile Portrait
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .side-menu {
    width: 75vw;
  }
}
