@import '../../../assets/mixins';

.dashboard {
  @include card;
  @include elevation(1);
}

.dashboard__section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5em 0;
  width: 100%;
}

.dashboard__section-label {
  font-size: 1.1em;
  font-weight: 500;
  margin-right: 1em;
}

.dashboard__section-currency {
  font-size: 1.5em;
}

.dashboard__sub-sections {
  display: flex;
  flex-wrap: wrap;
}

.dashboard__sub-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 0.25em;
  max-width: 100%;
}

.dashboard__sub-section-header {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.dashboard__sub-section-label {
  font-size: 0.7em;
  margin-right: 0.25em;
}

.dashboard__sub-section-glyph {
  min-height: 0.7em;
  min-width: 0.7em;
}

.dashboard__sub-section-currency {
  align-self: center;
  font-size: 1.2em;
  margin-top: 0.25em;
  max-width: 100%;
  padding: 0.25em;
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .dashboard {
    max-width: 300px;
  }
}
