@import '../../../assets/colors';
@import '../../../assets/mixins';

#modal-root {
  @include elevation(5);
  position: relative;
}

.modal {
  @include flush-top;
  @include square(100%);
  background-color: $modal-mask-background;
  bottom: 0;
  position: fixed;
}
