@import '../../../assets/mixins';

.currency {
  @include align-items(flex-start);
  @include ellipsize-content('.currency__amount');
  @include use-flex;
  overflow: hidden;
}

.currency__code {
  font-size: 0.5em;
  margin-right: 0.25em;
}
