@import '../../../assets/mixins';

.currency {
  @include ellipsize-content('.currency__amount');
  align-items: flex-start;
  display: flex;
  overflow: hidden;
}

.currency__code {
  font-size: 0.5em;
  margin-right: 0.25em;
}

.currency__amount {
  font-size: 1em;
}
