@import '../../../assets/colors';
@import '../../../assets/mixins';

.transaction .jumbotron__content {
  font-size: 0.9em;
  padding: 0.5em 0;
}

.transaction__body {
  @include flex-wrap;
  @include use-flex;
}

.transaction__local-amount {
  @include align-items;
  @include justify-content(space-evenly);
  @include use-flex;
  font-size: 1.2em;
  max-width: 33.3%;
  padding: 0.5em;
}

.transaction__glyph {
  @include flex-grow;
  @include square(1.5em);
  @include use-flex;
  margin: 0.25em auto 0.25em 0;
  padding: 0.05em;
}

.transaction__local-currency {
  @include flex-grow(2);
  margin-right: 0.5em;
  min-width: 9em;
  padding-left: 0.5em;
}

.transaction__info-text {
  color: $transaction-content;
  text-align: center;
}

.transaction__section {
  @include flex-basis(30%);
  @include flex-grow;
  @include flex-shrink(1);
  color: $transaction-content;
  fill: $transaction-content;
  min-width: 30%;
}

.transaction .source__sub-section-glyph {
  @include square(1.1em);
  fill: $transaction-content;
}

.transaction .source__sub-section-status {
  @include align-items(center);
  @include use-flex;
  border-radius: 1em;
  color: $transaction-status-content;
  font-size: 0.85em;
  font-weight: 500;
  margin-top: 0.25em;
  padding: 0.2em 0.75em;

  .source__sub-section-glyph {
    @include square(1.1em);
    fill: $transaction-status-content;
  }
}

.transaction .source__sub-section-status--failed {
  background-color: $transaction-status-background-failed;
}

.transaction .source__sub-section-status--pending {
  background-color: $transaction-status-background-pending;
}

.transaction .source__sub-section-status--success {
  background-color: $transaction-status-background-success;
}

.transaction .source__sub-section-status-text {
  margin-left: 0.25em;
  text-transform: capitalize;
}

.transaction .source__sub-section-type {
  text-transform: capitalize;
}

// Mobile
@media only screen and (min-width: 1440px) {
  .transaction__local-amount {
    max-width: 16.6%;
  }

  .transaction__local-currency {
    min-width: 7em;
  }
}

// Mobile
@media only screen and (max-width: 767px) {
  .transaction__values {
    margin: 2rem 2rem 1rem;
  }

  .transaction__section {
    @include flex-basis(100%);
    margin: 1rem 2rem;
  }

  .transaction__section:last-child {
    @include flex-basis(100%);
    margin-bottom: 2rem;
  }

  .transaction__local-amount {
    max-width: 50%;
  }
}

// Small Mobile
@media only screen and (max-width: 479px) {
  .transaction__local-amount {
    max-width: 100%;
    padding: 0.1em;
  }

  .transaction__local-currency {
    min-width: 12em;
  }
}
