@import '../../../assets/colors';
@import '../../../assets/mixins';

.portfolio__body {
  @include flex-direction;
  @include flex-grow;
  @include use-flex;
}

.portfolio__section--right {
  @include flex-grow;
  @include flex-shrink(1);
}

.portfolio__section-label {
  @include flex-grow(0);
  color: $portfolio-section-label;
  display: block;
  font-weight: 500;
  margin: 1.5em 1em 1em;
}

.portfolio__transaction-list {
  @include flex-direction;
  @include flex-grow;
  @include use-flex;
  margin: 0.5em 2em 2em;
}

.portfolio__transaction-table {
  display: block;
  height: calc(100% - 3em);
}

.portfolio__modal-portal {
  @include hidden;
}

.portfolio__modal-container {
  @include flush-top;
  bottom: 0;
  position: fixed;
}

.portfolio__modal {
  @include card;
  @include centralize;
  @include elevation(3);
  margin: auto;
  max-height: 80%;
  padding: 0;
  position: absolute;
  width: 80%;
}

.portfolio__modal-header {
  @include ellipsize-content('.portfolio__modal-title');
  @include flex-direction;
  @include use-flex;
  padding: 2em 2em 0.25em;
}

.portfolio__modal-title {
  color: $portfolio-modal-content;
  font-size: 1.2em;
  font-weight: 500;
}

.portfolio__modal-subtitle {
  @include flex-shrink(1);
  color: $portfolio-modal-content;
  margin-top: 0.25em;
  min-height: 0;
}

.portfolio__modal-form {
  @include square(100%);
  color: $portfolio-modal-content;
  padding: 1em 2em;
}

.portfolio__combined-form {
  @include card;
  @include elevation(1);
}

// Desktop Landscape
@media only screen and (min-width: 1440px) and (orientation: landscape) {
  .portfolio__modal {
    min-width: 22.5vw;
  }
  .portfolio__section--left {
    max-width: 22.5vw;
  }
  .portfolio__section--right {
    margin-left: 2em;
  }
}

// Desktop / Tablet Landscape
@media only screen and (min-width: 768px) and (orientation: landscape) {
  .portfolio__body {
    @include flex-direction(row);
  }
  .portfolio__modal,
  .portfolio__section--left {
    max-width: 400px;
  }
  .portfolio__section--right {
    height: calc(100vh - 8em);
    min-width: 30rem;
  }
  .portfolio__section-label {
    font-size: 1.2em;
    margin: 1em;
  }
}

// Mobile
@media only screen and (max-width: 767px) {
  .portfolio__section--right {
    @include flex-direction;
    @include flex-grow;
    @include flex-shrink(1);
    @include use-flex;
  }
  .portfolio__section-label {
    margin: 1.5em 2em 0.5em;
  }
  .portfolio__dashboard {
    margin: 2em 2em 0.5em;
  }
  .portfolio__placeholder--balance {
    margin: 2em 2em 0;
  }
  .portfolio__placeholder--transactions {
    margin: 0;
  }
}

// Mobile Landscape
@media only screen and (max-width: 767px) and (orientation: landscape) {
  .portfolio__modal {
    width: 90%;
  }
}
