@import '../../../assets/mixins';

.portfolio__transaction-table .table-row {
  @include flex-shrink;
}

.transaction-table-item__amount {
  @include align-items(flex-end);
  @include flex-direction;
  @include justify-content;
  @include use-flex;
  margin-left: 3em;
  max-width: 100%;
}

.transaction-table-item__amount-item {
  @include ellipsize;
  width: 100%;
}

.transaction-table-item__amount-item--ethereum {
  font-size: 0.85em;
  font-weight: 300;
}

.transaction-table-item__type-item {
  text-transform: capitalize;
}
