@import '../../../assets/colors';
@import '../../../assets/mixins';

.transaction-list-item {
  @include card;
  @include default-transition;
  @include elevation(1);
  @include setup-button($transaction-list-background);
  display: block;
  margin: 0 0 1em;
  text-align: left;
  width: 100%;
}

.no-touch .transaction-list-item:hover {
  @include elevation(2);
  background-color: $transaction-list-background-hover;
  z-index: 5;
}

.transaction-list-item__header {
  @include align-items(flex-start);
  @include justify-content(space-between);
  @include use-flex;
  font-size: 0.85em;
  margin-bottom: 0.5em;
}

.transaction-list-item__overline {
  @include align-items;
  @include ellipsize-content('span');
  @include flex-shrink(1);
  @include justify-content(flex-end);
  @include use-flex;
  color: $transaction-list-hint;
  margin-left: 1em;

  .overline__glyph {
    @include square(0.85em);
    fill: $transaction-list-hint;
  }

  .overline__label {
    margin-left: 0.25em;
    text-transform: capitalize;
  }
}

.transaction-list-item__meta {
  @include flex-shrink;
  color: $transaction-list-hint;
  white-space: nowrap;
}

.transaction-list-item__currencies {
  @include align-items;
  @include justify-content(flex-end);
  @include use-flex;
  font-size: 1.2em;
  overflow: hidden;
}

.transaction-list-item__amount {
  @include flex-shrink;
  color: $transaction-list-content;
  font-size: 1.1em;
  margin: 0.25em 0;
  max-width: 100%;
}

.transaction-list-item__amount--negative {
  color: $transaction-list-negative;
}

.transaction-list-item__ethereum {
  @include align-self(flex-end);
  @include flex-grow;
  @include flex-shrink;
  color: $transaction-list-content;
}

.transaction-list-item__section {
  @include flex-direction;
  @include use-flex;
  margin-top: 0.5em;
  overflow: hidden;
}

.transaction-list-item__section--address {
  @include ellipsize-content('.transaction-list-item__address');
  @include flex-shrink(1);
}

.transaction-list-item__section--source {
  @include flex-shrink;
  margin-left: 2em;
  min-width: 5em;
}

.transaction-list-item__info-label {
  color: $transaction-list-hint;
  font-size: 0.6em;
  white-space: nowrap;
}

.transaction-list-item__description {
  @include align-items;
  @include justify-content(space-between);
  @include use-flex;
  overflow: hidden;
}

.transaction-list-item__address {
  @include flex-grow(0);
  @include flex-shrink(1);
  color: $transaction-list-content;
  font-size: 0.85rem;
}
