@import '../../../assets/colors';
@import '../../../assets/mixins';

.transaction-form__content {
  @include flex-wrap;
  @include use-flex;
  color: $form-content;
}

.transaction-form__section {
  @include flex-grow;
  padding: 0 0.5em;
}

.transaction-form__actions {
  @include align-items;
  @include flex-wrap;
  @include justify-content(flex-end);
  @include use-flex;
  width: 100%;
}

.transaction-form__button {
  @include default-transition;
  @include no-select;
  @include setup-button;
  border-radius: 0.25em;
  border: 1px solid $form-border;
  color: $form-selected;
  font-size: 0.9em;
  font-weight: 500;
  margin: 0.5em;
  padding: 0.6em 0.8em;
  text-transform: uppercase;
}

.no-touch .transaction-form__button:not(.transaction-form__button--main):hover {
  background-color: $form-hover-light;
}

.transaction-form__button:not(.transaction-form__button--main):active {
  background-color: $form-active-light;
  color: $form-active;
}

.transaction-form__button--main:last-child {
  margin-right: 0;
}

.transaction-form__button--main {
  background-color: $form-selected;
  border: 1px solid $form-border;
  color: $form-button-label;
}

.no-touch .transaction-form__button--main:hover {
  background-color: $form-hover;
}

.transaction-form__button--main:active {
  background-color: $form-active;
}

.transaction-filter-form__filter-option label {
  text-transform: capitalize;
}

// Mobile Landscape
@media only screen and (max-width: 767px) and (orientation: landscape) {
  .transaction-form {
    @include flex-wrap;
    @include use-flex;
  }
  .transaction-form .field--select {
    @include flex-grow(0);
    margin: 0 2em 0 0 !important;
  }
  .transaction-form fieldset {
    @include flex-grow;
  }
}
