@import '../../../assets/mixins';

$table-header-background-hover: rgba(black, 0.1);
$table-header-background: white;
$table-header-border: rgba(black, 0.12);
$table-header-content-hover: #202124;
$table-header-content: rgba(#202124, 0.75);
$table-tooltip-background: #707070;
$table-tooltip-content: white;

.table-header {
  border-bottom: 1px solid $table-header-border;
  display: flex;
}

.table-header__cell {
  @include ellipsize-content('.table-header__label');
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  align-items: center;
  background-color: transparent;
  border: 0;
  color: $table-header-content;
  cursor: pointer;
  display: flex;
  fill: $table-header-content;
  flex-grow: 1;
  font-size: 0.85em;
  font-weight: 500;
  justify-content: flex-end;
  padding: 1rem 3rem 1rem 1rem;
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.table-header__cell:first-child {
  align-items: flex-start;
  justify-content: flex-start;
  .table-header__label {
    text-align: left;
  }
}

.no-touch .table-header__cell:hover {
  color: $table-header-content-hover;
  fill: $table-header-content-hover;
  .table-header__glyph--passive {
    opacity: 1;
  }
  .table-header__tooltip {
    display: block;
    visibility: visible;
  }
}

.no-touch .table-header__cell:first-child:hover {
  .table-header__tooltip {
    left: 0;
  }
}

.table-header__cell:disabled {
  cursor: default;
}

.table-header__glyph {
  min-height: 1em;
  min-width: 1em;
}

.table-header__glyph--passive {
  opacity: 0.5;
}

.table-header__glyph--rotated {
  transform: rotate(180deg);
}

.table-header__label {
  text-align: right;
}

.table-header__tooltip {
  background-color: $table-tooltip-background;
  border-radius: 0.25em;
  bottom: 4.5em;
  color: $table-tooltip-content;
  display: none;
  font-size: 0.85em;
  padding: 0.5em;
  position: absolute;
  text-align: left;
  visibility: hidden;
  width: max-content;
  z-index: 1;
}
