@import '../../../assets/colors';
@import '../../../assets/mixins';

.table-header {
  @include use-flex;
  border-bottom: 1px solid $table-header-border;
}

.table-header__cell {
  @include align-items;
  @include default-transition;
  @include ellipsize-content('.table-header__label');
  @include flex-grow;
  @include justify-content(flex-end);
  @include setup-button;
  @include use-flex;
  color: $table-header-content;
  fill: $table-header-content;
  font-size: 0.85em;
  font-weight: 500;
  padding: 1rem 3rem 1rem 1rem;
  position: relative;
}

.table-header__cell:first-child {
  @include align-items(flex-start);
  @include justify-content(flex-start);
  padding: 1rem 2rem 1rem 1rem;

  .table-header__label {
    text-align: left;
  }
}

.no-touch .table-header__cell:hover {
  color: $table-header-content-hover;
  fill: $table-header-content-hover;

  .table-header__glyph--passive {
    opacity: 1;
  }

  .table-header__tooltip {
    display: block;
    visibility: visible;
  }
}

.no-touch .table-header__cell:first-child:hover .table-header__tooltip {
  left: 0;
}

.table-header__cell:disabled {
  cursor: default;
}

.table-header__glyph {
  @include square(1em);
}

.table-header__glyph--passive {
  opacity: 0.5;
}

.table-header__glyph--rotated {
  @include transform(rotate(180deg));
}

.table-header__label {
  text-align: right;
}

.table-header__tooltip {
  @include elevation(1);
  background-color: $table-tooltip-background;
  border-radius: 0.25em;
  bottom: 4.5em;
  color: $table-tooltip-content;
  display: none;
  font-size: 0.85em;
  padding: 0.5em;
  position: absolute;
  text-align: left;
  visibility: hidden;
  width: max-content;
}
