@import '../../../assets/colors';
@import '../../../assets/mixins';

.table-paginator {
  @include align-items;
  @include card;
  @include elevation(1);
  @include justify-content(flex-end);
  @include use-flex;
  border-radius: 0 0 0.125rem 0.125rem;
  color: $table-paginator-content;
  font-size: 0.85em;
  font-weight: 500;
  margin: 0 0 1em;
  padding: 1em;
  width: 100%;
}

.table-paginator__manual-paging {
  @include align-items;
  @include justify-content(space-between);
  @include use-flex;
  margin-right: 1em;
}

.table-paginator__current-page {
  border-color: $table-paginator-border;
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 1px;
  margin-right: 0.25em;
  text-align: center;
  width: 4em;
}

.table-paginator__button {
  @include default-transition;
  @include setup-button;
  line-height: 0;
  margin: 0 0.25em;
  overflow: hidden;
}

.table-paginator__glyph {
  @include square(1.5em);
  color: $table-paginator-content;
  fill: $table-paginator-content;
}

.no-touch
  .table-paginator__button:hover:not(:disabled)
  .table-paginator__glyph {
  color: $table-paginator-content-hover;
  fill: $table-paginator-content-hover;
}

.table-paginator__button:disabled .table-paginator__glyph {
  opacity: 0.3;
}
