@import '../../../assets/mixins';

$table-paginator-border: rgba(black, 0.12);
$table-paginator-content-hover: #202124;
$table-paginator-content: rgba(#202124, 0.5);

.table-paginator {
  @include card;
  @include elevation(1);
  align-items: center;
  border-radius: 0 0 0.125rem 0.125rem;
  color: $table-paginator-content;
  display: flex;
  font-size: 0.85em;
  font-weight: 500;
  justify-content: flex-end;
  margin: 0 0 1em 0;
  padding: 1em;
  width: 100%;
}

.table-paginator__manual-paging {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-right: 1em;
}

.table-paginator__current-page {
  border-bottom: 1px solid $table-paginator-border;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
  margin-right: 0.25em;
  text-align: center;
  width: 4em;
}

.table-paginator__button {
  background-color: transparent;
  border: 0;
  line-height: 0;
  margin: 0 0.25em;
  overflow: hidden;
}

.table-paginator__glyph {
  color: $table-paginator-content;
  fill: $table-paginator-content;
  min-height: 1.5em;
  min-width: 1.5em;
}

.table-paginator__button:hover:not(:disabled) {
  .table-paginator__glyph {
    color: $table-paginator-content-hover;
    fill: $table-paginator-content-hover;
  }
}

.table-paginator__button:disabled {
  .table-paginator__glyph {
    opacity: 0.3;
  }
}
