@import '../../../assets/colors';
@import '../../../assets/mixins';

.table-row {
  @include default-transition;
  @include setup-button;
  @include use-flex;
  border-color: $table-row-border;
  border-style: solid;
  border-width: 0 0 1px;
  color: $table-row-content;
  fill: $table-row-content;
  margin: 0;
  padding: 0;
  width: 100%;
}

.table-row:last-child {
  border-bottom: 0;
}

.no-touch .table-row:hover {
  background-color: $table-row-background-hover;
  color: $table-row-content-hover;
  fill: $table-row-content-hover;
}

.table-row__cell {
  @include flex-grow;
  @include justify-content(flex-end);
  padding: 1rem 3rem 1rem 1rem;

  span {
    @include ellipsize;
    text-align: right;
  }
}

.table-row__cell:first-child {
  @include align-items(flex-start);
  @include justify-content(flex-start);

  span {
    text-align: left;
  }
}
