@import '../../../assets/colors';
@import '../../../assets/mixins';

.table {
  margin: 1em;
}

.table__frame {
  @include card;
  @include elevation(1);
  border-radius: 0.125rem 0.125rem 0 0;
  height: inherit;
  margin: 1em 0 0;
  padding: 0;
}

.table-body {
  @include shadowed-background($table-background, $table-shadow);
  height: inherit;
  max-height: fit-content;
  overflow-x: hidden;
  overflow-y: auto;
}
