@import '../../../assets/mixins';

.table {
  margin: 1em;
}

.table__frame {
  @include card;
  @include elevation(1);
  border-radius: 0.125rem 0.125rem 0 0;
  height: inherit;
  margin: 1em 0 0 0;
  padding: 0;
}

.table-body {
  -webkit-overflow-scrolling: auto;

  // https://stackoverflow.com/questions/44793453/how-do-i-add-a-top-and-bottom-shadow-while-scrolling-but-only-when-needed
  background: linear-gradient(white 30%, rgba(white, 0)),
    linear-gradient(rgba(white, 0), white 70%) 0 100%,
    linear-gradient(rgba(black, 0.1), rgba(black, 0)) 100% 0,
    linear-gradient(rgba(black, 0), rgba(black, 0.1)) 0 100%;

  background-attachment: local, local, scroll, scroll;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 20px, 100% 20px;
  height: inherit;
  max-height: fit-content;
  overflow-x: hidden;
  overflow-y: auto;
}
