// Card
$card-background: white;
$card-content: #202124;

// App Bar
$app-bar-background: white;
$app-bar-border: rgba(black, 0.12);
$app-bar-button-hover: rgba(black, 0.1);
$app-bar-content: #202124;

// Side Menu
$side-bar-background: white;
$side-bar-border: rgba(black, 0.12);
$side-bar-button-hover: rgba(black, 0.1);
$side-bar-content-hover: #202124;
$side-bar-content: rgba(#202124, 0.75);
$side-bar-label: #202124;

// Modal
$modal-mask-background: rgba(black, 0.5);

// Form
$form-border: rgba(black, 0.12);
$form-label: rgba(black, 0.26);

// Fields
$field-border: rgba(black, 0.12);
$field-content: #202124;
$field-input-hover: #e0f2f1;
$field-input-mark: white;
$field-input-selected: #4db6ac;
$field-input-unselected: #eee;
$field-label: rgba(black, 0.26);

// Jumbotron
$jumbotron-content: #202124;

// Section
$section-content: #202124;
$section-hint: #5f6368;

// Sub-Section
$sub-section-content: #202124;
$sub-section-hint: #5f6368;

// Item Row
$item-row-content: #202124;
$item-row-hint: #5f6368;

// Table
$table-background: white;
$table-shadow: black;

// Table Header
$table-header-border: rgba(black, 0.12);
$table-header-content-hover: #202124;
$table-header-content: rgba(#202124, 0.75);

// Table Tooltip
$table-tooltip-background: #707070;
$table-tooltip-content: white;

// Table Row
$table-row-background-hover: rgba(black, 0.1);
$table-row-border: rgba(black, 0.12);
$table-row-content-hover: #202124;
$table-row-content: rgba(#202124, 0.75);

// Table Paginator
$table-paginator-border: rgba(black, 0.12);
$table-paginator-content-hover: #202124;
$table-paginator-content: rgba(#202124, 0.5);

// Portfolio Page
$portfolio-modal-content: #202124;
$portfolio-section-label: #202124;

// Portfolio Transaction Form
$form-active-light: #b2dfdb;
$form-active: #26a69a;
$form-border: rgba(black, 0.12);
$form-button-label: white;
$form-content: #202124;
$form-hover-light: #e0f2f1;
$form-hover: #80cbc4;
$form-label: rgba(black, 0.26);
$form-selected: #4db6ac;
$form-unselected: #eee;

// Portfolio Transaction List
$transaction-list-background-hover: rgba(black, 0.05);
$transaction-list-background: white;
$transaction-list-content: #202124;
$transaction-list-hint: #5f6368;
$transaction-list-negative: #e57373;

// Transaction Page
$transaction-content: #202124;
