@import './colors';
@import './mixins';
@import './typo';

* {
  @include border-box;
  margin: 0;
}

html,
body,
.page {
  background-color: $page-background;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

body.modal-open {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  @include appearance(button);
}

::-webkit-scrollbar-track {
  background-color: $scrollbar-background;
}

#app-root,
.container {
  @include flex-direction;
  @include use-flex;
  min-height: 100vh;
  min-width: inherit;
}

.page {
  @include flex-direction;
  @include flex-grow;
  @include justify-content(flex-start);
  @include use-flex;
}

// Desktop Landscape
@media only screen and (min-width: 1440px) and (orientation: landscape) {
  body {
    padding-left: 10vw !important;
    padding-right: 10vw !important;
  }
}

// Desktop / Tablet
@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0.25em;
    background-color: $scrollbar-content;
  }

  body {
    padding: 1em;
  }

  #app-root,
  .container {
    min-height: calc(100vh - 2em);
  }
}
