@import './typo';

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow-x: hidden;
}

body.modal-open {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

@media only screen and (min-width: 1440px) and (orientation: landscape) {
  body {
    padding-left: 5vw !important;
    padding-right: 5vw !important;
  }
}

@media only screen and (min-width: 768px) {
  body {
    padding: 1em;
  }
}
